<fieldset>
    <legend>COLABORADORES</legend>

    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Número de colaboradores</legend>

                <div class="row">
                    <div class="col-md-6">
                        <h4>1º Ano</h4>
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearNumberOfEmployees')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearNumberOfEmployees')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearNumberOfEmployees').setAttribute('name', 'fieldset_colaborador_numerocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearNumberOfEmployees').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearNumberOfEmployees'))|raw }}
                        </div>

                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearIcons')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearIcons')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearIcons').setAttribute('name', 'fieldset_colaborador_numerocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearIcons').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('firstYearIcons'))|raw }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>2º Ano</h4>
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearNumberOfEmployees')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearNumberOfEmployees')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearNumberOfEmployees').setAttribute('name', 'fieldset_colaborador_numerocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearNumberOfEmployees').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearNumberOfEmployees'))|raw }}
                        </div>

                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearIcons')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearIcons')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearIcons').setAttribute('name', 'fieldset_colaborador_numerocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearIcons').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_numerocolaboradores'].get('secondYearIcons'))|raw }}
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset>
                <legend>Faturamento por colaborador</legend>

                <div class="row">
                    <div class="col-md-6">
                        <h4>1º Ano</h4>
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('firstYearBillingByEmployees')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('firstYearBillingByEmployees')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('firstYearBillingByEmployees').setAttribute('name', 'fieldset_colaborador_faturamentocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('firstYearBillingByEmployees').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('firstYearBillingByEmployees'))|raw }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>2º Ano</h4>
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('secondYearBillingByEmployees')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('secondYearBillingByEmployees')) }}
                            {{ formElement(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('secondYearBillingByEmployees').setAttribute('name', 'fieldset_colaborador_faturamentocolaboradores[' ~ form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('secondYearBillingByEmployees').getAttribute('name') ~ ']')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_colaborador_faturamentocolaboradores'].get('secondYearBillingByEmployees'))|raw }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</fieldset>