<fieldset>
    <legend>Período</legend>

    <div class="row">
        <div class="col-md-3">
            <fieldset>
                <legend>1º ano</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_periodo'].get('period_first_initial')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_periodo'].get('period_first_initial')) }}
                            {{ formElement(form.getFieldsets()['fieldset_periodo'].get('period_first_initial')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_periodo'].get('period_first_initial'))|raw }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_periodo'].get('period_first_end')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_periodo'].get('period_first_end')) }}
                            {{ formElement(form.getFieldsets()['fieldset_periodo'].get('period_first_end')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_periodo'].get('period_first_end'))|raw }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset>
                <legend>2º ano</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_periodo'].get('period_second_initial')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_periodo'].get('period_second_initial')) }}
                            {{ formElement(form.getFieldsets()['fieldset_periodo'].get('period_second_initial')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_periodo'].get('period_second_initial'))|raw }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_periodo'].get('period_second_end')) %} has-error{% endif %}">
                            {{ formLabel(form.getFieldsets()['fieldset_periodo'].get('period_second_end')) }}
                            {{ formElement(form.getFieldsets()['fieldset_periodo'].get('period_second_end')) }}
                            {{ formElementErrors().setMessageOpenFormat('<span class="help-block">').setMessageSeparatorString('</span><span class="help-block">').setMessageCloseString('</span>').render(form.getFieldsets()['fieldset_periodo'].get('period_second_end'))|raw }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</fieldset>