<fieldset>
    <legend>COMPARATIVO</legend>
    <div id="wizard_comparativo">
        <div class="navbar">
            <div class="navbar-inner">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#tab_a_1" role="tab" data-toggle="tab">Grupo Benner</a></li>
                        <li role="presentation"><a href="#tab_a_2" role="tab" data-toggle="tab">Operadoras de Saúde</a></li>
                        <li role="presentation"><a href="#tab_a_3" role="tab" data-toggle="tab">Hospitalar</a></li>
                        <li role="presentation"><a href="#tab_a_4" role="tab" data-toggle="tab">Gestão de Sinistro</a></li>
                        <li role="presentation"><a href="#tab_a_5" role="tab" data-toggle="tab">Sistemas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab_a_1">
                <fieldset>
                    <legend>Grupo Benner</legend>

                    <div class="row">
                        <div class="col-md-2">
                            <h5>Faturamento</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage')) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h5>Ebtida</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage')) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h5>Lucro Liquído</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage')) }}
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="tab-pane" id="tab_a_2">
                <fieldset>
                    <legend>Operadoras de Saúde</legend>

                    <div class="row">
                        <div class="col-md-2">
                            <h5>Faturamento</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_revenues_percentage')) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h5>Ebtida</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_ebtida_percentage')) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h5>Lucro Liquído</h5>
                            <h4>Acumulado</h4>
                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_target')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_target')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_target')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_initial')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_initial')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_initial')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_end')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_end')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_end')) }}
                            </div>

                            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_percentage')) %} has-error{% endif %}">
                                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_percentage')) }}
                                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('healthoperators_netprofit_percentage')) }}
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="tab-pane" id="tab_a_3">
                TAB A 3
            </div>

            <div class="tab-pane" id="tab_a_4">
                TAB A 4
            </div>

            <div class="tab-pane" id="tab_a_5">
                TAB A 5
            </div>
        </div>
    </div>
</fieldset>