{% extends "base.twig" %}

{% set title = ["Listar", "Kpi"]|join(' / ') %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ parent() }}
    <script src="/assest/custom/js/kpi.js"></script>

    <style type="text/css">
        .table tbody > tr > td{
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'title.partial.twig' %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path_for('kpi.add') }}" class="btn btn-default pull-right">Adicionar</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="150">Criado em</th>
                    <th>Responsável</th>
                    <th width="80">Status</th>
                    <th width="100">#</th>
                </tr>
                </thead>
                <tbody>
{% for kpi in kpis %}
                    <tr>
                        <td>{{ kpi.getCreatedAt()|date("d/m/Y H:i", false) }}</td>
                        <td>{{ kpi.getResponsible() }}</td>
                        <td></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="{{ path_for('kpi.edit', {'id' : kpi.getId()}) }}" class="btn btn-default" data-kpi-id="{{ kpi.getId() }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path_for('kpi.delete', {'id' : kpi.getId()}) }}" class="btn btn-default" data-kpi-id="{{ kpi.getId() }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}