<fieldset>
    <legend>Grupo Benner</legend>
    <div class="row">

        <!-- BEGIN / Faturamento Acumulado -->
        <div class="col-md-2">
            <h5>Faturamento</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_comparative_revenues_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_revenues_target" name="groupbenner[1][revenues][target]" value="{{ entities.comparative.groupbenner.getRevenuesTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_revenues_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_revenues_initial" name="groupbenner[1][revenues][initial]" value="{{ entities.comparative.groupbenner.getRevenuesInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_revenues_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_revenues_end" name="groupbenner[1][revenues][end]" value="{{ entities.comparative.groupbenner.getRevenuesEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_revenues_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_comparative_revenues_percentage" name="groupbenner[1][revenues][percentage]" value="{{ entities.comparative.groupbenner.getRevenuesPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Faturamento Acumulado -->

        <!-- BEGIN / Ebtida Acumulado -->
        <div class="col-md-2">
            <h5>Ebtida</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_comparative_ebtida_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_ebtida_target" name="groupbenner[1][ebtida][target]" value="{{ entities.comparative.groupbenner.getEbtidaTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_ebtida_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_ebtida_initial" name="groupbenner[1][ebtida][initial]" value="{{ entities.comparative.groupbenner.getEbtidaInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_ebtida_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_ebtida_end" name="groupbenner[1][ebtida][end]" value="{{ entities.comparative.groupbenner.getEbtidaEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_ebtida_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_comparative_ebtida_percentage" name="groupbenner[1][ebtida][percentage]" value="{{ entities.comparative.groupbenner.getEbtidaPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Ebtida Acumulado -->

        <!-- BEGIN / Lucro Liquído Acumulado -->
        <div class="col-md-2">
            <h5>Lucro Liquído</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_comparative_net_profit_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_net_profit_target" name="groupbenner[1][net_profit][target]" value="{{ entities.comparative.groupbenner.getNetProfitTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_net_profit_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_net_profit_initial" name="groupbenner[1][net_profit][initial]" value="{{ entities.comparative.groupbenner.getNetProfitInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_net_profit_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_comparative_net_profit_end" name="groupbenner[1][net_profit][end]" value="{{ entities.comparative.groupbenner.getNetProfitEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_comparative_net_profit_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_comparative_net_profit_percentage" name="groupbenner[1][net_profit][percentage]" value="{{ entities.comparative.groupbenner.getNetProfitPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Lucro Liquído Acumulado -->

    </div>
</fieldset>