<fieldset>
    <legend>Operadoras de Saúde</legend>

    <div class="row">
        <div class="col-md-2">
            <h5>Faturamento</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesTarget')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesTarget')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesTarget').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesTarget').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesInitial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesInitial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesInitial').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesInitial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesEnd')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesEnd')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesEnd').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesEnd').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesPercentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesPercentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('revenuesPercentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>

        <div class="col-md-2">
            <h5>Ebtida</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaTarget')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaTarget')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaTarget').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaTarget').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaInitial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaInitial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaInitial').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaInitial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaEnd')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaEnd')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaEnd').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaEnd').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaPercentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaPercentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('ebtidaPercentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>

        <div class="col-md-2">
            <h5>Lucro Liquído</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitTarget')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitTarget')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitTarget').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitTarget').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitInitial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitInitial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitInitial').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitInitial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitEnd')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitEnd')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitEnd').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitEnd').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitPercentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitPercentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('netprofitPercentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            <h4>Distribuição por Receita</h4>
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <h4>LU</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('luPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>LUM</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('lumPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Implatação</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('implantationPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>SMS</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('smsPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Serviços Médicos</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('medicalServicesPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Treinamentos</h4>
                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutValue')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutValue')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutValue').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutValue').getAttribute('name') ~ ']')) }}
                    </div>

                    <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutPercentage')) %} has-error{% endif %}">
                        {{ formLabel(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutPercentage')) }}
                        {{ formElement(form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutPercentage').setAttribute('name', 'fieldset_comparativo_operadorasdesaude[' ~ form.getFieldsets()['fieldset_comparativo_operadorasdesaude'].get('workoutPercentage').getAttribute('name') ~ ']')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</fieldset>