<fieldset>
    <legend>Grupo Benner</legend>

    <div class="row">
        <div class="col-md-2">
            <h5>Faturamento</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_target').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_initial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_end').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_revenues_percentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>
        <div class="col-md-2">
            <h5>Ebtida</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_target').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_initial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_end').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_ebtida_percentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>
        <div class="col-md-2">
            <h5>Lucro Liquído</h5>
            <h4>Acumulado</h4>
            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_target').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_initial').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_end').getAttribute('name') ~ ']')) }}
            </div>

            <div class="form-group{% if formElementErrors(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage')) %} has-error{% endif %}">
                {{ formLabel(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage')) }}
                {{ formElement(form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage').setAttribute('name', 'fieldset_comparativo_grupobenner[' ~ form.getFieldsets()['fieldset_comparativo_grupobenner'].get('groupbenner_netprofit_percentage').getAttribute('name') ~ ']')) }}
            </div>
        </div>
    </div>
</fieldset>