<fieldset>
    <legend>Grupo Benner</legend>
    <div class="row">

        <!-- BEGIN / Faturamento Acumulado -->
        <div class="col-md-2">
            <h5>Faturamento</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_budgeted_revenues_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_revenues_target" name="groupbenner[2][revenues][target]" value="{{ entities.budgeted.groupbenner.getRevenuesTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_revenues_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_revenues_initial" name="groupbenner[2][revenues][initial]" value="{{ entities.budgeted.groupbenner.getRevenuesInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_revenues_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_revenues_end" name="groupbenner[2][revenues][end]" value="{{ entities.budgeted.groupbenner.getRevenuesEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_revenues_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_budgeted_revenues_percentage" name="groupbenner[2][revenues][percentage]" value="{{ entities.budgeted.groupbenner.getRevenuesPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Faturamento Acumulado -->

        <!-- BEGIN / Ebtida Acumulado -->
        <div class="col-md-2">
            <h5>Ebtida</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_budgeted_ebtida_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_ebtida_target" name="groupbenner[2][ebtida][target]" value="{{ entities.budgeted.groupbenner.getEbtidaTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_ebtida_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_ebtida_initial" name="groupbenner[2][ebtida][initial]" value="{{ entities.budgeted.groupbenner.getEbtidaInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_ebtida_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_ebtida_end" name="groupbenner[2][ebtida][end]" value="{{ entities.budgeted.groupbenner.getEbtidaEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_ebtida_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_budgeted_ebtida_percentage" name="groupbenner[2][ebtida][percentage]" value="{{ entities.budgeted.groupbenner.getEbtidaPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Ebtida Acumulado -->

        <!-- BEGIN / Lucro Liquído Acumulado -->
        <div class="col-md-2">
            <h5>Lucro Liquído</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="groupbenner_budgeted_net_profit_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_net_profit_target" name="groupbenner[2][net_profit][target]" value="{{ entities.budgeted.groupbenner.getNetProfitTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_net_profit_initial">Início</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_net_profit_initial" name="groupbenner[2][net_profit][initial]" value="{{ entities.budgeted.groupbenner.getNetProfitInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_net_profit_end">Final</label>
                <input type="text" class="form-control input-mask-money" id="groupbenner_budgeted_net_profit_end" name="groupbenner[2][net_profit][end]" value="{{ entities.budgeted.groupbenner.getNetProfitEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="groupbenner_budgeted_net_profit_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="groupbenner_budgeted_net_profit_percentage" name="groupbenner[2][net_profit][percentage]" value="{{ entities.budgeted.groupbenner.getNetProfitPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Lucro Liquído Acumulado -->

    </div>
</fieldset>