<fieldset>
    <legend>Sistemas</legend>
    <div class="row">

        <!-- BEGIN / Faturamento Acumulado -->
        <div class="col-md-2">
            <h5>Faturamento</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="systems_comparative_revenues_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_revenues_target" name="systems[1][revenues][target]" value="{{ entities.comparative.systems.getRevenuesTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_revenues_initial">1º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_revenues_initial" name="systems[1][revenues][initial]" value="{{ entities.comparative.systems.getRevenuesInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_revenues_end">2º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_revenues_end" name="systems[1][revenues][end]" value="{{ entities.comparative.systems.getRevenuesEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_revenues_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_revenues_percentage" name="systems[1][revenues][percentage]" value="{{ entities.comparative.systems.getRevenuesPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Faturamento Acumulado -->

        <!-- BEGIN / Ebtida Acumulado -->
        <div class="col-md-2">
            <h5>Ebtida</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="systems_comparative_ebtida_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_ebtida_target" name="systems[1][ebtida][target]" value="{{ entities.comparative.systems.getEbtidaTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_ebtida_initial">1º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_ebtida_initial" name="systems[1][ebtida][initial]" value="{{ entities.comparative.systems.getEbtidaInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_ebtida_end">2º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_ebtida_end" name="systems[1][ebtida][end]" value="{{ entities.comparative.systems.getEbtidaEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_ebtida_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_ebtida_percentage" name="systems[1][ebtida][percentage]" value="{{ entities.comparative.systems.getEbtidaPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Ebtida Acumulado -->

        <!-- BEGIN / Lucro Liquído Acumulado -->
        <div class="col-md-2">
            <h5>Lucro Liquído</h5>
            <h4>Acumulado</h4>
            <div class="form-group">
                <label for="systems_comparative_net_profit_target">Meta</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_net_profit_target" name="systems[1][net_profit][target]" value="{{ entities.comparative.systems.getNetProfitTarget()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_net_profit_initial">1º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_net_profit_initial" name="systems[1][net_profit][initial]" value="{{ entities.comparative.systems.getNetProfitInitial()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_net_profit_end">2º Ano</label>
                <input type="text" class="form-control input-mask-money" id="systems_comparative_net_profit_end" name="systems[1][net_profit][end]" value="{{ entities.comparative.systems.getNetProfitEnd()|number_format(2, '.', '') }}">
            </div>
            <div class="form-group">
                <label for="systems_comparative_net_profit_percentage">Porcentagem</label>
                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_net_profit_percentage" name="systems[1][net_profit][percentage]" value="{{ entities.comparative.systems.getNetProfitPercentage()|number_format(2, '.', '') }}">
            </div>
        </div>
        <!-- END / Lucro Liquído Acumulado -->

    </div>

    <div class="row">
        <div class="col-md-12">

            <!-- BEGIN / Distribuição por Receita -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr />
                    <h4>Distribuição por Receita</h4>
                    <hr />
                </div>
                <div class="col-md-12">
                    <div class="row">

                        <!-- BEGIN / Distribuição por Receita / LU -->
                        <div class="col-md-2">
                            <h4>LU</h4>
                            <div class="form-group">
                                <label for="systems_comparative_lu_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_lu_value" name="systems[1][lu][value]" value="{{ entities.comparative.systems.getLuValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_lu_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_lu_percentage" name="systems[1][lu][percentage]" value="{{ entities.comparative.systems.getLuPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / LU -->

                        <!-- BEGIN / Distribuição por Receita / LUM -->
                        <div class="col-md-2">
                            <h4>LUM</h4>
                            <div class="form-group">
                                <label for="systems_comparative_lum_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_lum_value" name="systems[1][lum][value]" value="{{ entities.comparative.systems.getLumValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_lum_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_lum_percentage" name="systems[1][lum][percentage]" value="{{ entities.comparative.systems.getLumPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / LUM -->

                        <!-- BEGIN / Distribuição por Receita / Implatação -->
                        <div class="col-md-2">
                            <h4>Implatação</h4>
                            <div class="form-group">
                                <label for="systems_comparative_implantation_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_implantation_value" name="systems[1][implantation][value]" value="{{ entities.comparative.systems.getImplantationValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_implantation_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_implantation_percentage" name="systems[1][implantation][percentage]" value="{{ entities.comparative.systems.getImplantationPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / Implatação -->

                        <!-- BEGIN / Distribuição por Receita / SMS -->
                        <div class="col-md-2">
                            <h4>SMS</h4>
                            <div class="form-group">
                                <label for="systems_comparative_sms_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_sms_value" name="systems[1][sms][value]" value="{{ entities.comparative.systems.getSmsValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_sms_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_sms_percentage" name="systems[1][sms][percentage]" value="{{ entities.comparative.systems.getSmsPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / SMS -->

                        <!-- BEGIN / Distribuição por Receita / Royaltes -->
                        <div class="col-md-2">
                            <h4>Royaltes</h4>
                            <div class="form-group">
                                <label for="systems_comparative_royaltes_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_royaltes_value" name="systems[1][royaltes][value]" value="{{ entities.comparative.systems.getRoyaltesValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_royaltes_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_royaltes_percentage" name="systems[1][royaltes][percentage]" value="{{ entities.comparative.systems.getRoyaltesPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / Royaltes -->

                        <!-- BEGIN / Distribuição por Receita / Manutenção PC -->
                        <div class="col-md-2">
                            <h4>Manutenção PC</h4>
                            <div class="form-group">
                                <label for="systems_comparative_maintenance_pc_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_maintenance_pc_value" name="systems[1][maintenance_pc][value]" value="{{ entities.comparative.systems.getMaintenancePcValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_maintenance_pc_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_maintenance_pc_percentage" name="systems[1][maintenance_pc][percentage]" value="{{ entities.comparative.systems.getMaintenancePcPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / Manutenção PC -->

                        <!-- BEGIN / Distribuição por Receita / Outsourcing -->
                        <div class="col-md-2">
                            <h4>Outsourcing</h4>
                            <div class="form-group">
                                <label for="systems_comparative_outsourcing_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_outsourcing_value" name="systems[1][outsourcing][value]" value="{{ entities.comparative.systems.getOutsourcingValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_outsourcing_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_outsourcing_percentage" name="systems[1][outsourcing][percentage]" value="{{ entities.comparative.systems.getOutsourcingPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / Outsourcing -->

                        <!-- BEGIN / Distribuição por Receita / BPO -->
                        <div class="col-md-2">
                            <h4>BPO</h4>
                            <div class="form-group">
                                <label for="systems_comparative_bpo_value">Valor</label>
                                <input type="text" class="form-control input-mask-money" id="systems_comparative_bpo_value" name="systems[1][bpo][value]" value="{{ entities.comparative.systems.getBpoValue()|number_format(2, '.', '') }}">
                            </div>
                            <div class="form-group">
                                <label for="systems_comparative_bpo_percentage">Porcentagem</label>
                                <input type="text" class="form-control input-mask-percentage" id="systems_comparative_bpo_percentage" name="systems[1][bpo][percentage]" value="{{ entities.comparative.systems.getBpoPercentage()|number_format(2, '.', '') }}">
                            </div>
                        </div>
                        <!-- END / Distribuição por Receita / BPO -->

                    </div>
                </div>
            </div>
            <!-- END / Distribuição por Receita -->

        </div>
    </div>

</fieldset>